.deployment-square {
    padding: 4px !important;
    min-width: 120px !important;
}

.deployment-square .status {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 12px !important;
    line-height: 12px !important;
    margin-top: 8px !important;
    margin-right: 5px !important;
}

.deployment-square .release-date {
    display: block !important;
    font-size: 8pt !important;
    margin-left: 25px !important;
    font-weight: 500 !important;
}

table.matrix th {
    font-size: 9pt !important;
    padding: 5px 5px 5px 8px !important;
}

table.matrix tbody th {
    height: 60px !important;
    background: #fafafa !important;
    width: 250px !important;
    font-weight: 400 !important;
}

table.matrix tbody th .media-left {
    display: none !important;
}